<div class="share sticky-top sticky-top-offset">
    <p style="color: #9DAE88">
        Keep in Touch &#127796;
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a href="https://www.facebook.com/californiainstituteoftechnology" target="_blank">
                <i class="fab fa-facebook-f" style="color:#9DAE88"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://twitter.com/Caltech" target="_blank">
              <i class="fab fa-twitter" style="color:#9DAE88"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="https://www.instagram.com/caltechadmissions" target="_blank">
              <i class="fab fa-instagram" style="color:#9DAE88"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep" style="color:#9DAE88">
    </div>
    <ul>
        <li>
        <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>
